<p>
  dushboard works!
</p>
<ui5-table class="demo-table">
    <ui5-table-column slot="columns" width="12em">
        <span slot="header" style="line-height: 1.4rem">Product</span>
      </ui5-table-column>
    
      <ui5-table-column slot="columns" min-width="800" popin-text="Supplier">
        <span slot="header" style="line-height: 1.4rem">Supplier</span>
      </ui5-table-column>
    
      <ui5-table-column slot="columns" min-width="600" popin-text="Dimensions" demand-popin>
        <span slot="header" style="line-height: 1.4rem">Dimensions</span>
      </ui5-table-column>
    
      <ui5-table-column slot="columns" min-width="600" popin-text="Weight" demand-popin>
        <span slot="header" style="line-height: 1.4rem">Weight</span>
      </ui5-table-column>
    
      <ui5-table-column slot="columns">
        <span slot="header" style="line-height: 1.4rem">Price</span>
      </ui5-table-column>

      <ui5-table-row slot="rows">
          <ui5-table-cell>
              <span>123</span>
          </ui5-table-cell>
      </ui5-table-row>
  
</ui5-table>
